<div class="card text-white bg-danger">
    <div class="card-body">
        <blockquote class="card-blockquote">
            <h5>Used guide</h5>
            <p>*Switch between Student and Subject options doing a click</p>            
        </blockquote>
    </div>
</div>
<!--Student/Subject-->
<form class="form-welcome">
    <ul class="nav nav-tabs">
        <li class="nav-item" (click)="changeShowStatus()">
            <a class="nav-link active" data-toggle="tab">Subject/Student</a>
        </li>
    </ul>

    <!--Student-->
    <div class="manage-student" [hidden]="showStudent">

        <!--Create student-->
        <div class="create-student">
            <legend>Create Student</legend>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" #nameStudent>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Address" #address>
            </div>
            <div class="form-group">
                    <label>Phone name</label>
                    <input type="text" class="form-control" placeholder="Phone name" #phoneName>
                </div>
                <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" placeholder="Phone" #phone>
                    </div>
            <button type="button" class="btn btn-success" (click)="createStudent(nameStudent.value, address.value, phoneName.value, phone.value)">Create</button>
        </div>

        <!--Remove student-->
        <div>
            <legend>Remove Student</legend>
            <div class="form-group">
                <label>Select Student</label>
                <select class="form-control" #selectedStudent>
                    <option *ngFor="let student of students" [ngValue]="student">{{student.name}}</option>
                </select>
            </div>
            <button type="button" class="btn btn-danger" (click)="removeStudent(selectedStudent.value)">Remove</button>
        </div>
    </div>

    <!--Subject-->
    <div class="manage-subject" [hidden]="showSubject">
        <!--Create subject-->
        <div class="create-subject">
            <legend>Create Subject</legend>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" #nameSubject>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Description" #description>
            </div>
            <div class="form-group">
                <label>Quatrimestre</label>
                <div class="form-group">
                    <select class="custom-select" #selectedQt>
                      <option selected="" value="QT1">QT1</option>
                      <option value="QT2">QT2</option>                      
                    </select>
                </div>
                <!-- <input type="text" class="form-control" placeholder="Quatrimestre" #qt> -->
            </div>
            <button type="button" class="btn btn-success" (click)="createSubject(nameSubject.value, description.value, selectedQt.value)">Create</button>
        </div>


        <!--Remove Subject-->
        <div>
            <legend>Remove Subject</legend>
            <div class="form-group">
                <label>Select Subject</label>
                <select class="form-control" #selectedSubject>
                    <option *ngFor="let subject of subjects">{{subject.name}}</option>
                </select>
            </div>
            <button type="button" class="btn btn-danger" (click)="removeSubject(selectedSubject.value)">Remove</button>
        </div>
    </div>
</form>